{% extends "layout_overrides.html" %}

{% block body %}
{% load custom_filters %}
<!-- Text Header -->
	<div id="content_list">
		<p><b>Thank you for participating in the DOwhit.com beta test.  You must agree to the terms below to continue.</b></p>
		<p>Your feedback is very important to our team and will help us work out the bugs before we go live with our website. Listed below are instructions on testing the website as well as answers to some questions you may have before you begin the test.</p>

		<p>You should report all problems you experience with the DOwhit.com website and we encourage you to provide any suggestions you may have to improve the website. </p>
		
		<p>Below are instructions on testing the site, as well as answers to some questions you may have before you begin testing.</p>
		<div>
		
		<p><b>What is Beta Testing?</b></p>
		
		<p>A beta release of software is the phase in which a product includes all of the product’s functionality but it has not been tested by external users. The DOwhit.com website has been tested in our own development environment, but it hasn’t been tested on other computers. You, as a tester, will help us identify if there are problems with accessing the website using different operating systems and internet connections.</p>
		
		<p>When beta software is released to a group of people, called beta testers, they use it and then report anything they find which needs to be corrected. You, as a beta tester, will help us identify if there are configuration problems with the software and the functionality of the DOwhit.com website. Your feedback on any problems you find, as well as any suggestions you can provide, will help us identify any problems before we launch our website.</p>		
		<p><b>What do I need to do for testing?</b></p>
		
		<p>The DOwhit.com website doesn’t require any software installation. It works in a browser on both Windows and Macintosh computers. You can use the following browsers to test the website:</p>
		
		<p>
		<ul>
		<li>Google Chrome (for Windows and Mac) **Preferred** <a href="http://www.google.com/chrome" target="_blank">Download</a></li>
		<li>Microsoft Internet Explorer (IE) 8.0 and later (for Windows) <a href="http://www.microsoft.com/windows/ie/downloads/default.mspx" target="_blank">Download</a></li>
		<li>Firefox 3.6 and later (for Windows, Mac, and Linux) <a href="http://www.mozilla.org/products/firefox/" target="_blank">Download</a></li>
		<li>Safari 3.1 and later (for Mac and Windows) <a href="http://www.apple.com/safari" target="_blank">Download</a></li>
		</ul>
		</p>
		
		<p><b>What do I do if I have a problem using the website, DOwhit.com?</b></p>
		
		<p>Take careful note of exactly what occurred when you find a problem. We will need to know if any error messages were displayed and details of exactly what you were doing on your computer when the problem occurred. This will help us reproduce and correct the problem.</p>
		
		<p>To submit feedback or report errors, please use the feedback tab on the right side of the site or email us at <a href="mailto:feedback@dowhit.com">feedback@dowhit.com</a>.</p>
		
		<p>Once again, welcome and thank you for participating in the Beta testing of Dowhit.com. </p>
		
		<p><b>Terms and Conditions</b></p>
		
		<p><b>Important:</b> Please read this DOwhit.com website Beta Test Program Participation Agreement carefully, as it sets out the terms and conditions you must agree to in order to participate in the DOwhit.com Beta Test Program. If, after reading all of the terms and conditions set out below, you agree to be bound by them, then click the "Agree to Terms" button.<br />
		<br />
		<br />
		<div style="width: 600px; height: 400px; overflow: auto; background-color: #fff; padding: 10px;" id="Terms">
		<b>Terms and Conditions:<br />
		</b><br />
		1. Participant Feedback. You agree to provide reasonable feedback to DOwhit.com about your experiences using features of the feedback form and information about connectivity and usability of the website. All of your feedback shall be the property of DOwhit.com and may be used by DOwhit.com for any purpose it sees fit.<br />
		<br />
		2. Ownership of Beta Test Feedback. You understand that DOwhit.com or its affiliates shall own all of the Beta Test Feedback and suggestions, including without limitation all intellectual property rights therein. You shall keep the Beta Test Feedback free of all security interests, liens, or other encumbrances. You may not sell, lease, license, loan or otherwise transfer or dispose of any of the Beta Test Feedback. </p>
		
		<p><br />
		3. Confidential Nature of Beta Test Feedback. You acknowledge and agree that:<br />
		<br />
		( a ) the Beta Test Feedback is the confidential information of DOwhit.com;<br />
		<br />
		( b ) disclosure of any part of the Beta Test Feedback to any commercial for profit third party will cause significant and irreparable harm to DOwhit.com, the extent of which may be difficult to ascertain. Accordingly, you agree DOwhit.com shall be entitled to injunctive relief as well as all other legal remedies that may be available in the event you breach this agreement.<br />
		<br />
		4. Participant's Warrants and Representations. You warrant and represent that you:<br />
		<br />
		( a ) acknowledge and agree that you have no expectation of privacy or confidentiality in any information, ideas, designs or inventions that you choose to disclose during your participation in the DOwhit.com Beta Test Program or use of any of the Beta Test Feedback;<br />
		<br />
		( b ) will not disclose any part of the Beta Test Feedback to any commercial for profit third party, including but not limited to any commercial entity or any competitor of DOwhit.com;<br />
		<br />
		( c ) will immediately notify DOwhit.com if you find or become aware that the Beta Test Feedback are in the possession of a third party;<br />
		<br />
		( d ) will use the content and tools made available to you through the DOwhit.com Beta Test Program only for the purposes intended, as any misuse of such content or tools may result in immediate termination of your participation in the DOwhit.com Beta Test Program;<br />
		<br />
		( e ) will not misappropriate any of the intellectual property of DOwhit.com or any other party as such misappropriation may result in legal prosecution;<br />
		<br />
		( f ) will not engage in the unauthorized transfer, exhibition, export, import or transmission of programs.</p>
		
		<p><br />
		5. Acknowledgment of Data Collection. The information collected does not identify the user personally. <br />
		<br />
		6. Limitation of Liability and Remedies. The foregoing limitations, exclusions and disclaimers shall apply to the maximum extent permitted by applicable law, even if any remedy fails of its essential purpose. In no event shall DOwhit.com or its affiliates be liable for any special, incidental, indirect, or consequential damages whatsoever.<br />
		<br />
		7. Terms/Termination. This Participation Agreement will be effective from the time you click the "Agree to Terms" button until terminated. You may terminate this Participation Agreement at any time by providing DOwhit.com written notification of your termination. DOwhit.com also reserves the right to terminate your participation in the Beta Test Program at any time with or without cause.<br />
		<br />
		8. Acceptance. If you do not agree to be bound by the terms and conditions of this Agreement, do not continue any further. By clicking the "Agree to Terms" button below you are once again representing that:<br />
		<br />
		( a ) you are 18 years of age or older;<br />
		( b ) you wish to participate in the DOwhit.com Beta Test Program;<br />
		( c ) you have read this entire Participation Agreement;<br />
		( d ) you specifically agree to be bound by all of the above listed terms and conditions.</p>
		</div>
		<div>
		<p><br />Scroll to the end to enable button</p>
		<p>
			<form action="/profile">
			<input type="hidden" name="agree" value="True" id="test"/>
				<button id="AgreeButton" type="submit">Agree to Terms</button>
			</form>
		</p>
		</div>
		
	</div>
	<div class="clear"></div>

{% endblock body %}

{% block js.custom %}
<script type="text/javascript">
     $(document).ready(function() {
 
          // Initially disable the button
          $("#AgreeButton").attr("disabled", "disabled");
 
          // Map the function below to the scroll event of our Terms DIV
          $("#Terms").scroll(function() {
               if ($("#Terms").AtEnd()) {
                    // Enable the button once we reach the end of the DIV
                    $("#AgreeButton").removeAttr("disabled");
               }
           });
     });
 
     $.fn.AtEnd = function() {
         return this[0].scrollTop + this.height() >= this[0].scrollHeight - 20;
     } 
</script>

{% endblock js.custom %}
