{% extends "layout_overrides.html" %}

{% block css.custom %}
{% endblock css.custom %}

{% block body %}

        <!-- BEGIN body -->
        <div id="content_thanks">
        	<div id="subpage_header">
        	</div>
        	<div class="content_box2" style="font-family: 'Oswald'; font-size: 1.5em;">
        		<p style="font-size: 1.5em;">
        			Thanks for your interest in <span style="font-family: Helvetica, Arial; font-size: 1.4em;"><span style="color:#1D6274;">do</span><span style="color:#989897;">whit</span>!</span>
        		</p>
        		<p>
        			We're still working on the site, but you'll be among the first to know when it's ready so you can start to create your Bucket List.
        		</p>
        		<p>
        			If you didn't notice, the clock is now counting the days left for an average US {{ currentUser.gender }} who shares your birthday.  We know you're not average, so at launch, this clock will be tailored specifically to your profile, lifestyle and interests.
        		</p>
        		<p>
        			If you prefer, you can change the clock to mark significant dates or events coming up in your life.  You will even be able to count up to see how far you've come.
        		</p>
        		<p>
        			The goal of this site is not to focus on the end, but the journey...start yours today.
        		</p>
        		<p style="font-size: 1.5em; color:#E15F25;">
        			What's On Your Bucket List?
        		</p>
        	</div>
        	
        </div>
        <!-- END body -->

{% endblock body %}

{% block js.custom %}
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	<script src="http://connect.facebook.net/en_US/all.js#appId=152218584792889&amp;xfbml=0"></script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock js.custom %}







